[submodule "External/d3d8to9"]
	path = External/d3d8to9
	url = https://github.com/crosire/d3d8to9
	branch = main
[submodule "External/Logging"]
	path = External/Logging
	url = https://github.com/elishacloud/Logging
[submodule "External/Hooking"]
	path = External/Hooking
	url = https://github.com/elishacloud/Hooking
[submodule "External/injector"]
	path = External/injector
	url = https://github.com/thelink2012/injector
[submodule "External/Hooking.Patterns"]
	path = External/Hooking.Patterns
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "External/reshade"]
	path = External/reshade
	url = https://github.com/elishacloud/reshade
	url = https://github.com/nemtrif/utfcpp
[submodule "External/WidescreenFixesPack"]
	path = External/WidescreenFixesPack
	url = https://github.com/ThirteenAG/WidescreenFixesPack
[submodule "external/csvparser"]
	path = External/csvparser
	url = https://github.com/d99kris/rapidcsv
[submodule "External/xxHash"]
	path = External/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "External/tinyxml2"]
	path = External/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Installer"]
	path = Installer
	url = https://github.com/nipkownix/SH2EE-web-installer
[submodule "External/MemoryModule"]
	path = External/MemoryModule
	url = https://github.com/fancycode/MemoryModule
